* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header p {
    font-weight: 900;
    font-size: 32px;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.one, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.one h1 {
    font-size: 48px; 
    font-weight: 900px;
    margin: 0px;
}

.one p {
    font-size: 18px;
}

.container-one {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

.container-one img{
    flex: 0 1 400px;
}

.two {
    text-align: center;
}

.two-items {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.two-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 200px;
}

.three {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex: 1;
}

.cta-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    min-width: 50vw;
    gap: 60px;
}

.footer, .four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-box, button {
    background-color: #3882F6;
    color: white;
}

.cta-box .title {
    font-size: 28px;
    font-weight: 700;
}

.cta-box button {
    border: 2px solid white;
}

.one button {
    border: none;
}

button {
    padding: 5px 20px;
}

button, .cta-box, .two img{
    border-radius: 5px;
}

.one, .two, .three, .four {
    min-height: 300px;
}