* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

.one, .two, .three, .four {
    min-height: 300px;
}

/* Styles for Hero and Section One */

a {
    text-decoration: none;
    color: #F9FAF8;
}

.one {
    padding: 0px 150px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header p {
    font-weight: 900;
    font-size: 30px;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.one, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.one h1 {
    font-size: 48px; 
    font-weight: 900px;
    margin: 0px;
}

.one .container-one p {
    font-size: 18px;
}

.container-one {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
}

.container-one div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.container-one img{
    flex: 0 1 400px;
}

/* Styles for Section Two */

.two {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 50px;
}

.two h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.two-items {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.two img {
    width: 150px;
    height: auto;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.two-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    width: 200px;
    color: #44474b;
    gap: 10px;
}

/* Styles for Section Three */

.three {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex: 1;
    padding: 100px 200px;
}

.three .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
}

.three .quote-src {
    color: #1F2937;
    font-weight: 800;
    font-size: 24px;
    margin-left: auto;
}

/* Styles For Section Four */

.four {
    padding: 0 auto;
}

.cta-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    min-width: 50vw;
    gap: 60px;
}

.cta-box, button {
    background-color: #3882F6;
    color: white;
}

.cta-box .title {
    font-size: 28px;
    font-weight: 700;
}

.cta-box button {
    border: 2px solid white;
}

.one button {
    border: none;
}

button {
    padding: 5px 20px;
}

/* Style for Footer */

.footer{
    padding: 30px;
}

/* Mixed Styles */

button, .cta-box {
    border-radius: 5px;
}

.footer, .four {
    display: flex;
    align-items: center;
    justify-content: center;
}