body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header p {
    font-weight: 900;
    font-size: 32px;
}

.header ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.one, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.one h1 {
    font-size: 48px; 
    font-weight: 900px;
    margin: 0px;
}

.one p {
    font-size: 18px;
}

.container-one {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
}

.container-one img{
    flex: 0 1 400px;
}

.two {
    text-align: center;
}

.two-items {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.two-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 200px;
}

.three {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex: 1;
}

.cta-box {
    display: flex;
}

.footer, .four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-box, button {
    background-color: #3882F6;
    color: white;
}